@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Inter", sans-serif;
  background-color: var(--Color_Cuerpo);
  color: var(--Letra);
}

.cabecera {
  height: 38vh;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--Color_Cabecera);
}

.container {
  width: 80%;
  top: 2.5rem;
  display: grid;
}

.container_cabecera {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.cabecera_texto {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--Color_Texto);
}

.cabecera_cambio {
  align-self: center;
  justify-self: end;
}

.cambio_texto {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Color_Texto);
}

.cambio_interruptor {
  width: 50px;
  height: 25px;
  transform: rotate(180deg);
}

.cambio_interruptor input {
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  transition: 0.4s;

  background-image: linear-gradient(to left, var(--boton1), var(--boton1_1));
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  bottom: 3px;
  transition: 0.4s;
  left: var(--left);
  transform: translateX(var(--camino));
  background-color: var(--Color_Cabecera);
}

input:checked + .slider {
  background-image: linear-gradient(to left, var(--boton1), var(--boton1_1));
}

input:checked + .slider:before {
  left: var(--left);
  transform: translateX(var(--camino));
  background-color: var(--Color_Cabecera);
}

.circulo:before {
  border-radius: 50%;
}

.general {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 15rem));
  gap: 1rem;
}

.datos_generales {
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--Color_Tarjeta);
}

.datos_generales:hover {
  background-color: var(--Color_hover);
}

.general_barra {
  height: 0.2rem;
}

.barra1 {
  background-color: var(--Facebook);
}
.barra2 {
  background-color: var(--Twitter);
}
.barra3 {
  background-image: linear-gradient(
    to right,
    var(--Instagram1),
    var(--Instagram2)
  );
}
.barra4 {
  background-color: var(--Youtube);
}

.general_social p {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--Color_Texto);
}

.general_numero {
  font-size: 3rem;
}

.general_follow {
  font-size: 0.7rem;
  letter-spacing: 0.25rem;
  color: var(--Color_Texto);
}

.dia_color {
  margin: 0;
  margin-left: 0.3rem;
  font-size: 0.6rem;
  font-weight: 700;
}

.verde {
  color: var(--Verde_lima);
}

.rojo {
  color: var(--Rojo_brillante);
}

.titulo_diario {
  color: var(--Color_Texto);
}

.diario {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 15rem));
  gap: 1rem;
}

.datos_diarios {
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--Color_Tarjeta);
}

.datos_diarios:hover {
  background-color: var(--Color_hover);
}

.diario_social p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Color_Texto);
}

.diario_estadistica h4 {
  font-size: 1.8rem;
  margin: 0;
}

.texto {
  margin: 0;
  margin-left: 0.3rem;
  font-size: 0.7rem;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 2.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import "./media";
